<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtpylFZcpJErARm8qg_gfT__hSkd0TjKw</string>
	<key>GCM_SENDER_ID</key>
	<string>148851070202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mynoteapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>shilobenotes</string>
	<key>STORAGE_BUCKET</key>
	<string>shilobenotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148851070202:ios:8e05d72397907464f9a543</string>
</dict>
</plist>